* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 1rem;
}

.card {
  box-shadow: 2px 8px 20px #dfdfdf;
  max-width: 350px;
  width: 100%;
  padding: 1rem;
}
